@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(47, 144, 255, 0.808);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    padding: 20px;
    text-align: center;
    align-items: center;
    color: white;
}

section {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

section div {
    padding: 10px;
}

#lista {
    width: 150px;
}

#res p {
    padding: 10px;
}

footer {
    color: white;
    font-weight: bold;
}